@import "../responsive.scss";

.SectionWrapper {
  margin: 0 auto;
  margin-bottom: 40px;
  width: 100%;
  padding: 0 15px;
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);

  @include tablet {
    width: 85%;
  }

  @include laptop {
    width: 70%;
  }

  @include desktop {
    width: 1180px;
  }

  .SectionTitle {
    margin-top: 20px;
    padding: 0 10px;

    h3 {
      color: #fff;
      font-size: 16px;
      font-weight: bold;

      @include laptop {
        font-size: 18px;
      }

      @include desktop {
        font-size: 22px;
      }
    }
  }

  .ListMovieWrapper {
    .MovieCardWrapper {
      padding: 20px;
      text-align: center;

      .ActorImage {
        border-radius: 50%;
      }

      p {
        margin-top: 5px;
        font-size: 16px;
        color: #fff;
        font-weight: 400;
        line-height: 1.3em;
      }
    }
  }
}

.NextArrow {
  position: absolute;
  top: 45%;
  right: -20px;

  width: 40px;
  height: 40px;

  margin-right: 10px;
  cursor: pointer;
  z-index: 3;

  background: #232323;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 50%);
  border-radius: 50%;
}

.PrevArrow {
  position: absolute;
  top: 45%;
  left: -10px;

  width: 40px;
  height: 40px;

  cursor: pointer;
  z-index: 3;

  background: #232323;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 50%);
  border-radius: 50%;
}
