@import "../responsive.scss";

.SectionWrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .ComponentWrapper {
    margin: 0 10px;

    h3 {
      color: white;
    }
  }
}
