html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: rgba(17, 17, 17, 255);
  color: #d1d5db;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

nav {
  position: relative;
}

@media (min-width: 2000px) {
  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1.5rem;
  }
}

@media (min-width: 2500px) {
  h2 {
    font-size: 2.5rem;
  }

  p {
    font-size: 2rem;
  }
}
