
.container {
  position: relative;
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  margin-bottom:100vh;
  
}
.container .bgimg {
  width: 100%;
  height: 70vh;
  opacity: 0.5;
  object-fit: cover;
  
}
.detail {
  top: 12rem;
  width: 80%;
  padding: 1rem 3rem;
  margin: auto;
  height: auto;
  position: absolute;
  /* border:1px solid white; */
  display: flex;
  flex-flow: col nowrap;
  justify-content: space-between;
}
.detail .poster {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  width: 26%;
  align-content:center;
  object-fit:cover;

}
.detail .poster .img {
  margin-bottom: 2rem;
  height: auto;
  max-width: 100%;
  width:100%;
  
}


.detail .btn {
  margin-top:1rem;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
  width: 100%;
  color: white;
  padding: 4px;
  height: 3rem;
  background-color: #dd003f;
  border-radius: 4px;
}

.detail .btn:hover {
  filter: brightness(110%);
  

}
.info {
  width: 70%;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  padding: 0px 0px 0px 32px;
}
.detail .info h1 {
  font-size: 2.5rem;
  color: white;
  font-weight: bold;
  /* margin-bottom: 1rem; */
  background: -webkit-linear-gradient(yellow, #289cb4);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.detail .info h2 {
  color: white;
  font-weight: medium;
  opacity: 0.8;
  margin-bottom: 2rem;
}
.detail .info h3 {
  font-size: 1rem;
  color: white;
  font-weight: medium;
  opacity: 0.8;
  margin-bottom: 2rem;
}

.detail .info .cate {
  display:flex;
  flex-flow:row wrap;
  justify-content:start;
  align-item:center;
  
}
.detail .info .cate .tag{
 
  border:white;
  border-radius:4px;
  height:2.5rem;
  width:6rem;
  padding:8px;
  text-align:center;
  border:2px solid;
  margin-right:1rem;
  margin-bottom:2rem;
  
}
.detail .info .cate .tag:hover{
  background-color:#4750E5;
  color:white;
  cursor: pointer;
}

.detail .info .originName {
  font-size:1rem;
  color: white;
  margin-bottom: 8px;
  font-weight: normal;
}
.detail .info .originName span{
  font-size:1.2rem;
  
  color: #FBD148;
  margin-bottom: 8px;
  font-weight: bold;
}
.detail .info .descript {
  color: white;
  margin-bottom: 1rem;
  margin-top:0.5rem;
  font-size:1rem;
  width:100%;
}
.section{
  margin-top:2rem;
  width:100%;
}

.section .list {
  //background-color:white;
  width:100%;
  display: flex;
  flex-flow: row nowrap;
  //justify-content: flex-start;
}
.detail .info .list .content {
  margin-right: 2rem;
  display: flex;
  width: 8rem;
  height: auto;
  flex-flow: column nowrap;
  align-items:center;
  justify-content: flex-start;
  text-align: center;
  padding: 4px;
}
.detail .info .list .content .actorImg {
  width:120px;
  height:120px;
  margin-left: 10px;
  object-fit: cover;
  border-radius: 100%;
  margin-bottom: 1rem;
  
}
.detail .info .section .sectionTitle {
  font-size: 1.4rem;
  font-weight: bold;
  color: yellow;
  margin-bottom: 0.5rem;
}

.detail .info .list .content .actorName {
  width: 100%;
  font-weight: bold;
  margin-bottom: 4px;
}
.detail .info .list .content .subName {
  width: 100%;
  margin-bottom: 4px;
}

.detail .info .list .content .movieImg {
  margin-left: 10px;
  height: 100px;
  width: 100px;
  object-fit: fit;
  margin-bottom: 0.5rem;
}

.detail .info .list .content .movieName {
  width: 100%;
  font-weight: bold;
  margin-bottom: 4px;
}

.fbShare svg {
  height: 1.3em;
  fill: #fff;
  margin-right: 10px;
}

.container .detail .info .cate .shareTag{
  display: flex 0 0 auto;
  align-items: center;
  justify-content: center;
}

.container .detail .info .cate .shareTag .fbShare {
  display: inline-flex;
  font-size: 1rem;
  height: 2.5em;
  line-height: 1.5;
  position: relative;
  vertical-align: top;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-appearance: none;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  padding: 7px 16px;
  background-color: #3273dc;
  border-color: transparent;
  color: #fff;
}


@media only screen and (min-width:200px) and (max-width:700px){
  .container{
    height:200%;
    width:100%;
    height:4rem;
  }
  .detail{
    top:6rem;
    padding:0rem;
    align-items:center;
  }
  .detail .poster{
    width:60%;
    align-content:center;

  }
  .detail .poster .img {
   object-fit:cover; 
   width:100%;
  }
  .detail .btn{
    height:2.2rem;
    font-size:10px;
    width:90%;
  }
  .detail {
    display:flex;
    flex-flow:column nowrap;
  }
  .info{
    width:100%;
    align-content:center;
    padding: 0px 0px 0px 0px;
  }
  .detail .info h1{
    font-size:1.7rem;
    font-weight: bold;
    margin-bottom:1rem;
    margin-top:1rem;
  }
  .detail .info h2{
    display:none;
  }
  .detail .info .cate {
    width:11rem;
  }
  .detail .info .cate .tag{
    border-radius:3px;
    height:2.5rem;
    width:46%;
    padding:4px;
    padding-top:6px;
    margin-right:4px;
    margin-bottom:8px;
  }
  .detail .info .descript {
    font-size:0.8rem;
    line-height:1.7;
  }
  .detail .info .originName {
    margin-top:1rem;
    fonr-size:0.8rem;
   
  }
  .detail .info .originName span{
    font-size:1rem;
   
  }
  .section .list{
    width:100%;
  }
  .detail .info .list .content {
    width:30%;
    margin-right: 1rem;
  }
  .detail .info .list .content .actorImg {
    width:120px;
    height:120px;
    margin-left: 10px;
    object-fit: cover;
    border-radius: 100%;
    margin-bottom: 1rem;
  }
  .detail .info .list .content .actorName {
    font-size:12px;
  }
  .detail .info .list .content .subName {
    font-size:12px;
    width:
  }
}

@media only screen and (min-width:700px) and(max-width:850px){
  
  .detail{
    width:90%;
    flex-flow: row nowrap;
    justify-content: flex-startstart;
    align-content:flex-start;
  }
  .info{
    width:50%
  }
  .detail .poster{
    width:40%;
    flex-flow:column nowrap;
    
  }
    .detail .poster .img {
   
   width:200%;
  }
  .section .list{
    width:100%;
    background-color:blue;
  }
  .detail .info .list .content {
    width:20%;
    margin-right:0.5rem;
  }
  
}